#header1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#Navigator {
  float: left;
  width: 20%;
  height: 100%;
  background-color: #eeeeee;
  padding: 10px;
  text-align: center;
  border: 2px solid rgb(0,0,0);
  font-family: "Comic Sans MS", cursive, sans-serif;
}



#Menu {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(0,0,0);
  clear:right;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#MenuTitle{
  font-size: xx-large;
}

#MenuTable {
  text-align: left;
  border: 2px solid rgb(0,0,0);

}
